# Configuración del Servidor BarberOS
PORT=3001

# Conexión a Base de Datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=barberos_db

# (Opcional) Clave secreta si implementas JWT en el futuro
# JWT_SECRET=super_secreto_change_me
